<div class = "ui-element header-color-fix">
	<div class="header">
		<div ng-click="save()" class="button upload ui-element header-button-fix">
			Save
		</div>

		<div ng-click="loadData()" class = "button ui-element header-button-fix">
			Load
		</div>

		<div ng-click="settings.show = !settings.show" class="button ui-element header-button-fix">
			Settings
		</div>

		<div style="flex-grow: 1"></div>

		<div class = "button ui-element header-button-fix">
			<div>Search:</div>
			<div><input type="text" style="background: slategrey; width: 200px;"></div>
		</div>
	</div>
	<div ng-show="settings.show || settings.map === null">
		<table>
			<tr>
				<td>Backend IP: </td>
				<td><input type="text" ng-model="settings.ip" style="width: 120px; background: silver;"></td>
			</tr>
			<tr>
				<td>App-Map:</td>
				<td>
					<select ng-model="settings.map" class = "button ui-element header-button-fix">
						<option ng-repeat="n in settings.maps track by $index" value="{{n}}" >{{n}}</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Version:</td>
				<td>{{settings.version}}</td>
			</tr>
		</table>
	</div>
</div>