<div class = "ui-element header-color-fix">
	<div class="header">
		<div ng-click="save()" class="button upload ui-element header-button-fix">
			Save
		</div>

		<div class = "button ui-element header-button-fix">
			Open
		</div>

		<div class = "button ui-element header-button-fix">
			New
		</div>

		<div style="flex-grow: 1"></div>

		<div class = "button ui-element header-button-fix">
			<div>Search:</div>
			<div><input type="text" style="background: slategrey; width: 200px;"></div>
		</div>
	</div>

	<div ng-show="settings.show || settings.map === null">
		<div class="header">
			<div ng-repeat="x in settings.maps">
				<div class="button upload ui-element header-button-fix" ng-if="x!==settings.map" ng-click="settings.map=x; loadData()">
					{{x}}
				</div>
				<div style="border: 2px; border-style: solid;" class="button upload ui-element header-button-fix" ng-if="x===settings.map">
					{{x}}
				</div>
			</div>
		</div>
	</div>
</div>